body {
    margin: 0;
    font-family: Arial;
    background: #e1c6c6;
}

nav {
    background: #c62828;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 80px;
    background: url('img/blood.jpg') center/cover;
    color: #c62828;
}

.btn {
    background: #c62828;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
@media screen and (max-width: 767px) {
body{
    background-color: blue;
}
}